asn1crypto==0.24.0
astroid==1.5.3
beautifulsoup4==4.6.0
branca==0.2.0
bs4==0.0.1
capture==0.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
ChatterBot==0.7.6
chatterbot-corpus==1.0.1
cheroot==5.8.3
CherryPy==11.1.0
click==6.7
colorama==0.3.9
crypto==1.4.1
cryptography==2.1.4
cycler==0.10.0
decorator==4.0.11
dlib==19.7.0
face-recognition==1.0.0
face-recognition-models==0.3.0
fake-useragent==0.1.8
fernet==1.0.1
Flask==0.12.2
Flask-Session==0.3.1
folium==0.5.0
future==0.16.0
geocoder==1.32.1
geolocator==0.1.1
geopy==1.11.0
googlemaps==2.5.1
gTTS==1.2.2
gTTS-token==1.1.1
gunicorn==19.7.1
hackerrank-sdk==1.2.4
httplib2==0.10.3
idna==2.6
imageio==2.1.2
InstagramAPI==1.0.2
isort==4.2.15
itsdangerous==0.24
jaraco.classes==1.4.1
Jinja2==2.10
jsondatabase==0.1.7
lazy-object-proxy==1.3.1
location==0.0.7
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
moviepy==0.2.3.2
mysqlclient==1.3.12
Naked==0.1.31
nexmo==2.0.0
nltk==3.2.5
numpy==1.13.3
oauthlib==2.0.6
olefile==0.44
opencv-python==3.3.0.10
pandas==0.20.3
Pillow==4.3.0
portend==2.2
psutil==5.4.1
pyaes==1.6.1
PyAudio==0.2.11
pycparser==2.18
pycryptodomex==3.4.7
pydub==0.20.0
pygame==1.9.3
PyJWT==1.5.3
pylint==1.7.4
pymongo==3.5.1
pyparsing==2.2.0
pypiwin32==220
PyQRCode==1.2.1
python-dateutil==2.6.1
python-gmaps==0.3.1
python-nmap==0.6.1
python-twitter==3.3
pyttsx==1.1
pytz==2017.2
pyusb==1.0.2
PyYAML==3.12
qrcode==5.3
ratelim==0.1.6
requests==2.11.1
requests-oauthlib==0.8.0
requests-toolbelt==0.7.0
ruamel.yaml==0.15.0
scipy==1.0.0
selenium==3.7.0
shellescape==3.4.1
sinchsms==1.0.4
six==1.11.0
socketclusterclient==1.2.2
speech==0.5.2
SpeechRecognition==3.7.1
SQLAlchemy==1.1.15
tempora==1.9
textmagic==2.0.3
tqdm==4.11.2
urllib3==1.22
Wave==0.0.2
websocket-client==0.46.0
webwhatsapi==1.0.3
Werkzeug==0.13
wrapt==1.10.11
xlrd==1.1.0
